<div class="row">
  <div class="col-md-12">
    <button type="button" (click)="openAddPage()" class="btn btn-primary">Nieuwe reward aanmaken</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table *ngFor="let reward of rewards; index as i;">
      <tr>
        <td rowspan="3">
          <img class="rewardImg" [src]="reward.fotoCode" alt="{{reward.beschrijving}}">
        </td>
        <td>
          {{reward.naam}}
        </td>
        <td rowspan="3">
          <div>
            <button type="button" (click)="openEditPage(reward._id)" class="btn btn-primary">Reward bewerken</button>
          </div>
          <div>
            <button type="button" (click)="openDeleteModal(i)" class="btn btn-primary">Reward verwijderen</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>{{reward.beschrijving}}</td>
      </tr>
      <tr>
        <td>{{reward.aantalPunten}}</td>
      </tr>
    </table>
  </div>
</div>

<ng-template  #content let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Weet je 't zeker?</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p *ngIf="status == ''">Ben je zeker dat je <b>{{currentReward.naam}}</b> wilt verwijderen ?</p>
    <p *ngIf="status == 'done'"><b>{{currentReward.naam}}</b> succesvol verwijderd</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" [hidden]="status == 'done'" (click)="deleteReward()">Bevestigen</button>
  </div>
</ng-template>
