<div class="card-group row">
  <div class="col-sm-3">
    <div class="card rounded shadow-sm p-3 mb-5 bg-white rounded">
      <img class="card-img-top img-width" src="https://image.flaticon.com/icons/svg/456/456115.svg" alt="Goedkeuring">
      <div class="card-body">
        <h5 class="card-title">Opdrachten goedkeuren</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card rounded shadow-sm p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="https://image.flaticon.com/icons/svg/265/265667.svg" alt="Medewerker">
      <div class="card-body">
        <h5 class="card-title">Medewerkers beheren</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card rounded shadow-sm p-3 mb-5 bg-white rounded" routerLink="/rewardForm">
      <img class="card-img-top" src="https://image.flaticon.com/icons/svg/1139/1139982.svg" alt="Reward">
      <div class="card-body">
        <h5 class="card-title">Rewards beheren</h5>
        <br>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card rounded shadow-sm p-3 mb-5 bg-white rounded">
      <img class="card-img-top img-fluid" src="https://image.flaticon.com/icons/svg/148/148966.svg" alt="Opdracht">
      <div class="card-body">
        <h5 class="card-title">Opdrachten beheren</h5>
      </div>
    </div>
  </div>
</div>
