<br>
<h2>Je event registreren:</h2>
<hr>
<form #registratieForm="ngForm" (submit)="addOpdracht(registratieForm.value)">

  <div class="form-group">
    <label for="opdracht">Welke opdracht heb je verwezenlijkt?</label>
    <br>
    <select id="opdracht" name="opdracht" [(ngModel)]="opdracht.titel" required>
      <option *ngFor="let c of opdrachten" [ngValue]="c">{{c.titel}}</option>
      <option value="andere">Andere</option>
    </select>
  </div>

  <div class="form-group">
    <label for="name">Titel van je opdracht?</label>
    <input type="text" id="name" class="form-control"
           required
           name="titel"
           #myTitel="ngModel"
           [(ngModel)]="opdracht.titel">
  </div>

  <div class="form-group">
    <label for="beschrijving">Geef even een korte beschrijving van deze opdracht!</label>
    <input type="text" id="beschrijving" class="form-control"
           required
           name="beschrijving"
           #myBeschrijving="ngModel"
           [(ngModel)]="opdracht.beschrijving">
  </div>

  <div class="form-group">
    <label for="datum">Wanneer heb je de opdracht voltooid?</label>
    <input type="date" id="datum" class="form-control"
           required
           name="datum"
           #myDatum="ngModel"
           [(ngModel)]="opdracht.datum">
  </div>

  <button type="submit" class="btn btn-primary">
    Bevestigen
  </button>

</form>
<hr>
<h5>registratieForm.value</h5>
<pre>{{ registratieForm.value | json }}</pre>
<h5>Opdracht</h5>
<pre>{{ opdracht | json }}</pre>
