<br>
<h2>Je event registreren:</h2>
<hr>
<form #registratieForm="ngForm">

  <div class="form-group">
    <label for="opdracht">Welke opdracht heb je verwezenlijkt?</label>
    <br>
    <select *ngIf="opdrachtTypes" id="opdracht" required name="titel"  #myOpdracht="ngModel" [(ngModel)]="opdrachtTypes.naam">
      <option value="" selected="selected">Selecteer een opdracht</option>
      <option *ngFor="let c of opdrachtTypes" [ngValue]="c">{{c.naam}}</option>
      <option value="andere">Andere</option>
    </select>
  </div>

  <div >
  <div class="form-group">
    <label for="beschrijving">Geef even een korte beschrijving van deze opdracht! (als de opdracht er nog niet is, zet dan als eerste lijn de titel van de opdracht)</label>
    <textarea cols="5" rows="5" type="text" id="beschrijving" class="form-control"
           required
           name="beschrijving"
           placeholder="beschrijving"
           #myBeschrijving="ngModel"
           [(ngModel)]="opdrachten.beschrijving"></textarea>
  </div>

  <div class="form-group">
    <label for="datum">Wanneer heb je de opdracht voltooid?</label>
    <input type="date" id="datum" class="form-control"
           required
           name="datumInzending"
           #myDatum="ngModel"
           [(ngModel)]="opdrachten.datumInzending">
  </div>
  <button type="submit" class="btn btn-primary" (click)="addOpdracht(registratieForm.value, user._id)">
    Bevestigen
  </button>
  </div>
</form>
