<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Naam van de opdracht</th>
    <th scope="col">Beschrijving</th>
    <th scope="col">Ingediend door</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr scope="row" *ngFor="let opdracht of opdrachten$">
    <td>{{opdracht.titel | titlecase }}</td>
    <td>{{opdracht.beschrijving }}</td>
    <td>{{opdracht.userId}}</td>
    <td><span class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" (click)="opdrachtGoedkeuren(opdracht._id)" *ngIf="opdracht.titel != 'andere'">Goedkeuren</button>
        <input *ngIf="opdracht.titel == 'andere'" #punten id="punten" placeholder="aantal punten">
      <button *ngIf="opdracht.titel == 'andere'" type="button" class="btn btn-secondary" (click)="puntenToekennen(opdracht._id, punten.value)">Punten toekennen</button>
      <button type="button" class="btn btn-outline-dark" (click)="opdrachtAfkeuren(opdracht._id)">Afkeuren</button>
    </span></td>
  </tr>
  </tbody>
</table>
