<div class="row">
  <div class="col-md-12">
    <form #f="ngForm">
      <div class="form-group">
        <label for="naam">Naam:</label>
        <input type="text" id="naam" class="form-control"
               required
               name="naam"
               placeholder="Reward naam"
               minlength=3
               #naam="ngModel"
               [(ngModel)]="reward.naam">
      </div>
      <div class="form-group">
        <label for="beschrijving">Naam:</label>
        <textarea cols="5" rows="40" type="text" id="beschrijving" class="form-control"
               required
                  placeholder="Reward beschrijving"
               name="beschrijving"
               minlength=3
               #naam="ngModel"
                  [(ngModel)]="reward.beschrijving"></textarea>
      </div>
      <div class="form-group">
        <label for="punten">Naam:</label>
        <input type="text" id="punten" class="form-control"
               required
               name="punten"
               placeholder="Reward naam"
               minlength=3
               #naam="ngModel"
               [(ngModel)]="reward.naam">
      </div>
    </form>
  </div>
</div>
