<div class="row">
  <div class="col-sm-6">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">

      <img class="card-img-top img-fluid card-container" src="https://image.flaticon.com/icons/svg/1255/1255612.svg" alt="Punten">
      <p class="card-centered text-dark">{{saldo}}</p>

      <div class="card-body">
        <br>
        <h5 class="card-title">Mijn punten</h5>
        <h6 class="card-subtitle mb-2 text-muted">Hoeveel punten heb je al bijeen gespaard?</h6>
      </div>
    </div>
  </div>

  <div class="col-sm-6">

    <div class="row">
      <div class="col-sm-6">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
          <img class="card-img-top img-fluid" src="https://image.flaticon.com/icons/svg/1139/1139982.svg" alt="Rewards">
          <div class="card-body">
            <h5 class="card-title">Rewards</h5>
            <h6 class="card-subtitle mb-2 text-muted">Genoeg punten voor een toffe reward?</h6>
            <a routerLink="/shop" class="card-text btn btn-secondary w-100">Naar de shop!</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded">
          <img class="card-img-top img-fluid" src="https://image.flaticon.com/icons/svg/148/148966.svg" alt="Opdracht">
          <div class="card-body">
            <h5 class="card-title">Opdrachten</h5>
            <h6 class="card-subtitle mb-2 text-muted">Geef hier je voltooide opdracht in!</h6>
            <a routerLink="/opdracht-registeren" class="card-text btn btn-secondary w-100">Opdracht invullen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <h5>Je ingediende opdrachten</h5>
    <hr>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Soort opdracht</th>
        <th scope="col">Datum uitvoering</th>
        <th scope="col">Werd goedgekeurd?</th>
      </tr>
      </thead>
      <tbody class="overflow">
      <tr scope="row" *ngFor="let opdracht of opdrachten">
        <td>{{opdracht.titel}}</td>
        <td>{{opdracht.datumInzending | date: 'dd/MM/yyyy'}}</td>
        <td>
          <span *ngIf="opdracht.isGoedgekeurd=='true'">Goedgekeurd voor {{opdracht.aantalPunten}} punten!</span>
          <span *ngIf="opdracht.isGoedgekeurd=='false'">In beoordeling</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-sm-6">
    <h5>Je gekochte rewards</h5>
    <hr>
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th scope="col">Naam van de reward</th>
        <th scope="col">Datum gekocht</th>
        <th scope="col">Gekocht voor </th>
      </tr>
      </thead>
      <tbody class="overflow">
      <tr scope="row" *ngFor="let transactie of transacties">
        <td *ngIf="transactie.reward">{{transactie.reward.naam}}</td>
        <td>{{transactie.datum | date: 'dd/MM/yyyy'}}</td>
        <td>
          <span>{{transactie.aantalPunten}} punten</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

