<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <!-- meter hier -->
      <img class="card-img-top img-fluid" src="https://image.flaticon.com/icons/svg/1255/1255633.svg" alt="Punten">
      <div class="card-body">
        <h5 class="card-title">Mijn punten</h5>
        <h6 class="card-subtitle  mb-2 text-muted">Subtitel</h6>
        <p class="card-text">Teller</p>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <img class="card-img-top img-fluid" src="https://image.flaticon.com/icons/svg/1139/1139982.svg" alt="Rewards">
      <div class="card-body">
        <h5 class="card-title">Rewards</h5>
        <p class="card-text">Lorem ipsum!</p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card shadow-sm p-3 mb-5 bg-white rounded">
      <img class="card-img-top img-fluid" src="https://image.flaticon.com/icons/svg/282/282091.svg" alt="Opdracht">
      <div class="card-body">
        <h5 class="card-title">Opdrachten</h5>
        <p class="card-text">Lorem ipsum!</p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
